<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="El_Dawliya_International_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="localhost_El_Dawliya_International_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=El_Dawliya_International" />
    </connectionStrings>
    <userSettings>
        <El_Dawliya_International_System.My.MySettings>
            <setting name="server" serializeAs="String">
                <value>DESKTOP-H361157\SQLEXPRESS</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>El_Dawliya_International</value>
            </setting>
            <setting name="model" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="User_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="User_Passowrd" serializeAs="String">
                <value />
            </setting>
            <setting name="Entry_Number" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>MacOS.ssk</value>
            </setting>
            <setting name="Company_Name" serializeAs="String">
                <value>الدولية انترناشونال للطباعة والمنتجات الصحية</value>
            </setting>
        </El_Dawliya_International_System.My.MySettings>
    </userSettings>
</configuration>
